{% extends 'shara/index.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <div class="card" style="max-width: 900px;">
                    <div class="row no-gutters">
                        <div class="col-md-2 py-3 text-center">
                            <span class="vote" onMouseOver="myFunction()" title="press twice."> </span>
                            <br/><br/>
                            <span class="vote1" onclick="myFunction()" title="press twice."> </span>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                okay fried and i will see u in the next episod</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3 ml-0">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Porfile</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}